:root {
  --cor-bg: rgb(36, 36, 36);
  --cor-bg-menu: rgb(55, 55, 55);
  --cor-font: #eee;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--cor-bg);
  color: var(--cor-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  font-size: 10px;
  color: rgb(151, 151, 151);
}
